version: 2
multi-ecosystem-groups:
  python-sync:
    schedule:
      interval: weekly
updates:
- package-ecosystem: gitsubmodule
  directory: /
  schedule:
    interval: weekly
- package-ecosystem: github-actions
  directory: /
  schedule:
    interval: monthly
- package-ecosystem: pip
  directory: /
  multi-ecosystem-group: python-sync
  patterns:
    - "*"
  groups:
    production:
      dependency-type: production
    development:
      dependency-type: development
- package-ecosystem: uv
  directory: /
  multi-ecosystem-group: python-sync
  patterns:
    - "*"
