name: release

permissions:
  contents: write
  pull-requests: write

on:
  push:
    branches: [main]
    tags: ['v*']

defaults:
  run:
    shell: bash

env:
  UV_LOCKED: 1
  UV_NO_SYNC: 1

jobs:

  wheels:
    if: ${{ github.ref_type == 'tag' }}
    uses: ./.github/workflows/_build-wheels.yml
    with:
      cibw_build: "cp310-* cp311-* cp312-* cp313-* cp314-*"

   release:
    if: ${{ github.ref_type == 'tag' }}
    name: Release to TestPyPI
    needs: [wheels]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    environment: testpypi
    env:
      UV_LOCKED: 0
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: true
          persist-credentials: false

      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Bump project version to match tag
        id: automatic-version
        run: |
          set -Eeuxo pipefail
          version="${GITHUB_REF#refs/tags/v}"
          uv version "$version"

      - name: Validate tag
        id: validate-tag
        run: |
          set -Eeuxo pipefail
          project_version=v$(uv version --short)
          tag=${GITHUB_REF#refs/tags/}
          [[ "$tag" == "$project_version" ]] || {
            echo "Tag $tag does not match project version $project_version"
            exit 1
          }

      - name: Build package distributions
        id: build
        run: uv build --sdist --wheel --out-dir dist

      - name: Download wheel artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: wheels-*
          path: dist
          merge-multiple: true

      - name: Publish package distributions to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          skip-existing: true
      
      - name: Create GitHub Release and upload artifacts
        uses: ncipollo/release-action@v1.20.0
        with:
          tag: "${{ github.ref_name }}"
          name: "${{ github.ref_name }}"
          makeLatest: true
          draft: false
          prerelease: false
          generateReleaseNotes: true
          artifacts: "dist/*" 
      
  release-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
          fetch-depth: 0

      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
  
      - name: Deploy site
        run: |
          set -Eeuxo pipefail
          export TAG='${{ github.ref_name }}'
          uv sync --group docs
          git fetch origin gh-pages --depth=1

          git config user.name github-actions[bot]
          git config user.email github-actions[bot]@users.noreply.github.com

          if [[ $TAG == v* ]]
          then
            V_MAJOR=`echo ${TAG#v} | awk -F '.' '{print $1}'`
            V_MINOR=`echo ${TAG#v} | awk -F '.' '{print $2}'`
            uv run mike deploy --push --alias-type=redirect --update-aliases "${V_MAJOR}.${V_MINOR}.x" stable "${TAG#v}"
          else
            uv run mike deploy --push --alias-type=redirect --title "Development version" --update-aliases dev latest
          fi
